.faqcontainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
  justify-content: space-between;
  align-items: start;
}

.faqcontent {
  padding: 4rem;
  border: 0.2px solid #00000021;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  text-align: left;
  font-size: 1.6rem;
  padding-bottom: 3rem;
}

.togglebutton {
  background-color: #fff;
}

@media (max-width: 768px) {
  .faqcontainer {
    gap: 1.5rem;
  }

  .learnDescription {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.6rem;
  }
  .learnsbsec {
    padding: 1.5rem;
  }
}

@media (max-width: 430px) {
  .faqcontainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
