/* // Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}
.logo {
  width: 10.6rem;
  height: 3.3rem;
}
.menubtn {
  font-size: 28px;
  cursor: pointer;
  border: none;
  background: none;
  display: none;
}
.navlinks {
  background-color: #f0f5f2;
  padding: 2rem;
  border-radius: 100px;
  display: flex;
  gap: 3.8rem;
  list-style: none;
}
.navlinks a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #0d1714;
  font-weight: 400;
}
.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.loginbtn {
  background-color: #c3f499;
  color: #0d1714;
}
.openicon {
  width: 24px;
  height: 24px;
  z-index: 1000;
  cursor: pointer;
}
.searchicon {
  width: 24px;
  height: 24px;
}
.nav {
  position: sticky;
  z-index: 100;
  top: 0;
  background: transparent;
  transition: background 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease,
    backdrop-filter 0.3s ease;
}
.navopacity {
  display: none;
}

/* When scrolled */
.nav.active {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  padding: 12px 40px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  nav {
    position: relative;
  }
  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 70vh;
    position: absolute;
    padding: 2rem;
    top: 50px;
    left: 45%;
    z-index: 1;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }
  .loginbtn {
    display: none;
  }
  .menubtn {
    display: block;
    padding: 1rem 0 1rem 0;
  }
  .openicon {
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
}
