.articlecontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
/* .articlecontent {
} */
.articleimage {
  padding-bottom: 1.5rem;
  width: 100%;
}
.articlehead {
  font-size: 1.2rem;
  color: #626965;
  padding-bottom: 1rem;
  text-align: left;
}
.articletext {
  font-size: 1.6rem;
  color: #0d1714;
  text-align: left;
  line-height: 2.5rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .articlecontainer {
    gap: 2rem;
  }
  .articletext {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
  }
  .articleimage {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 430px) {
  .articlecontainer {
    display: block;
  }

  .articlecontent {
    margin-bottom: 4.5rem;
  }
}
