.tutorcontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}
.tutorimg {
  width: 100%;
  padding-bottom: 2rem;
}
.tutorname {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  color: #0d1714;
  padding-bottom: 0.5rem;
}
.tutoroccupation {
  text-align: left;
}

@media (max-width: 768px) {
  .tutorcontent {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 430px) {
  .tutorcontent {
    grid-template-columns: 1fr;
  }
  .gap {
    gap: 3rem;
  }
}
